.listaContainer {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}
.listaItem {
  width: 20rem;
  padding: 10px;
  list-style: none;
  background: #000;
  margin: 10px 50px;
  border-radius: 5px;
}

.listaItem h2 {
  margin-bottom: 10px;
  text-transform: uppercase;
  color: #fff;
}

.listaItem p {
  margin-bottom: 10px;
  background: #d8c30c;
  font-weight: bold;
  font-style: italic;
  color: #000;
  text-transform: uppercase;
  border-radius: 5px;
}

.titulo {
  color: #000;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.details {
  text-decoration: none;
  color: #ccc;
  font-size: 14px;
  text-transform: uppercase;
}

.details:hover {
  color: #fff;
  text-decoration: underline;
}
