.navbar {
  width: 100vw;
  height: 40px;
  background: #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

.navbar a {
  padding: 5px 10px;
  margin: 0 10px;
  text-decoration: none;
  color: black;
  background: white;
  font-weight: bold;
  border-radius: 4px;
}

.navbar a:hover {
  color: white;
  background: black;
  transition: 0.2s;
}

.navbar a.active {
  color: white;
  background: black;
}
